<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Gerardo Mestanza Web Developer Portfolio</title>
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="keywords" content="front-end developer, front-end development, web designer">
		<meta name="description" content="Freelance Front-end Developer producing high quality responsive websites and exceptional user experience">
		<!--  og:meta data-->
		<meta property="og:type" content="website" />
	  <meta property="og:title" content="Gerardo Mestanza - Programmer" />
	  <meta property="og:description" content="Gerardo Mestanza, Front-end Developer producing high quality responsive websites and Unique portfolios for creatives." />
	  <meta property="og:url" content="http://www.gerardomestanza.com/" />
	  <meta property="og:site_name" content="gerardo mestanza" />
		<meta property="og:image" name="thumb" content="http://gerardomestanza.com/assets/img/myLogo.png">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://gerardomestanza.com">
		<meta property="og:site_name" content="http://gerardomestanza.com">
		<!--  twitter stuff-->
		<meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Freelance Front-end Developer producing high quality responsive websites and Unique portfolios for creatives"/>
    <meta name="twitter:title" content="Portfolio | Gerardo Mestanza - Full-Stack Developer"/>
    <meta name="twitter:site" content="@Gmes23"/>
    <meta name="twitter:image" content="http://gerardomestanza.com/assets/img/myLogo.png"/>
    <meta name="twitter:creator" content="@Gmes23"/>
		<!-- links and scripts -->
		<link rel="shortcut icon" href="assets/img/myLogo.png" sizes="64×64">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
 <body>

	{{{ body }}}


<script type="text/javascript">
//
$('.gmMainMenuButton').on('click', function(){
	$('.gmMenuTakeOver').toggle();
		$('.sideLinesM').toggle();

});




// $('.gmMain2').each(function(i) {
//
// 	var $wrap = $(this),
// 		$active = $wrap.find('.active').first(),
// 		$prev = $active.prev(),
// 		$next = $active.next();
//
// 	if( !$prev.length ) $prev = $wrap.find('.gmshow').last();
// 	if( !$next.length ) $next = $wrap.find('.gmshow').first();
//
// 	$prev.addClass('prev');
// 	$next.addClass('next');
// });
//
// $('.gmMain2').on('touchmove', function() { //touchmove works for iOS, I don't know if Android supports it
//   $('.gmMain2').trigger('mousewheel');
// });
//
// $('.gmMain2').on('mousewheel', function(event, delta, deltaX, deltaY) {
//
// 	event.preventDefault();
//
// 	// var thisUpdate = new Date();
//   // lastUpdate = thisUpdate;
// 	// if( thisUpdate - lastUpdate < 500 ) return;
//
// 	$('.gmshow.active').each(function(){
// 		var $wrap = $(this);
// 		$wrap.find('.slideUp').removeClass('slideUp').addClass('slideDown');
// 		$wrap.on("animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd", function(e){
// 			// if(event.target === event.currentTarget){  Lerp();  $(this).off(e);} }
// 			// e.preventDefault();
// 				// Lerp();
// 			 $(this).off(e);
// 		});
// 	});
//
// Lerp();
//
//
// 	function Lerp(){
// 	$('.gmMain2').each(function() {
//
// 		var $wrap = $(this),
// 			$active = $wrap.find('.active'),
// 			$prev = $wrap.find('.prev'),
// 			$next = $wrap.find('.next'),
//
// 			$tmp;
//
// 			$('.gmshow.prev' || '.gmshow.next' ).each(function(){
// 				var $wrap = $(this);
// 				$wrap.find('.slideDown').removeClass('slideDown').addClass('slideUp');
//
//
// 			})
//
// 		//go back
// 		if( deltaY === 1) {
//
// 			$active
// 				.removeClass('active')
// 				.addClass('next')
// 				.siblings()
// 				.removeClass('next');
//
// 			$tmp = $prev
// 				.removeClass('prev')
// 				.addClass('active')
// 				.prev();
//
// 			if( !$tmp.length ) $tmp = $wrap.find('.gmshow').last();
//
// 			$tmp
// 				.removeClass('next')
// 				.addClass('prev')
// 				.siblings()
// 				.removeClass('prev');
//
// 		} else {
//
// 			$active
// 				.removeClass('active')
// 				.addClass('prev')
// 				.siblings()
// 				.removeClass('prev');
//
// 			$tmp = $next
// 				.removeClass('next')
// 				.addClass('active')
// 				.next();
//
// 			if( !$tmp.length ) $tmp = $wrap.find('.gmshow').first();
//
// 			$tmp
// 				.removeClass('prev')
// 				.addClass('next')
// 				.siblings()
// 				.removeClass('next');
// 		}
//
// 	});
//  }
//
//
// });









$('a').click(function(event) {

event.preventDefault();
newLocation = this.href

  $('body').fadeOut(500,newpage);


});

function newpage() {

window.location = newLocation;

}

//
// $(function() {
//   $('.gmSelectHov1').hover(function() {
// 		$('#testman').removeClass().addClass('gmPortHov1');
//   });
// 	return;
// });
//
// $(function() {
//   $('.gmSelectHov2').hover(function() {
//
// 		$('#testman').removeClass().addClass('gmPortHov2');
//   });
// });
//
// $(function() {
//   $('.gmSelectHov3').hover(function() {
// 		$('#testman').removeClass().addClass('gmPortHov3');
//   });
// });
// $(function() {
//   $('.gmSelectHov4').hover(function() {
// 		$('#testman').removeClass().addClass('gmPortHov4');
//   });
// });
// $(function() {
//   $('.gmSelectHov5').hover(function() {
// 		$('#testman').removeClass().addClass('gmPortHov5');
//   });
// });

//

</script>


</body>
</HTML>
