<!DOCTYPE html>
<html lang="en">
	<head>
		<title>GERARDO MESTANZA WEB DEV PORTFOLIO</title>
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="keywords" content="front-end developer, front-end development, web designer">
		<meta name="description" content="Freelance Front-end Developer producing high quality responsive websites and exceptional user experience">
		<!--  og:meta data-->
		<meta property="og:type" content="website" />
	  <meta property="og:title" content="Gerardo Mestanza - Full-Stack Deveploper" />
	  <meta property="og:description" content="Freelance Full-Stack Developer producing high quality responsive websites and Unique portfolios for creatives" />
	  <meta property="og:url" content="http://www.gerardomestanza.com/" />
	  <meta property="og:site_name" content="gerardo mestanza" />
		<meta property="og:image" name="thumb" content="http://gerardomestanza.com/assets/img/myLogo.png">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://gerardomestanza.com">
		<meta property="og:site_name" content="http://gerardomestanza.com">
		<!--  twitter stuff-->
		<meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Freelance Front-end Developer producing high quality responsive websites and Unique portfolios for creatives"/>
    <meta name="twitter:title" content="Portfolio | Gerardo Mestanza - Full-Stack Developer"/>
    <meta name="twitter:site" content="@Gmes23"/>
    <meta name="twitter:image" content="http://gerardomestanza.com/assets/img/myLogo.png"/>
    <meta name="twitter:creator" content="@Gmes23"/>
		<!-- links and scripts -->
		<link rel="shortcut icon" href="assets/img/myLogo.png" sizes="64×64">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
 <body>

	{{{ body }}}




<script src="assets/gmJS/gmMainJS.js"></script>
</body>
</HTML>
