<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Gerardo Mestanza Web Developer Portfolio</title>
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="keywords" content="front-end developer, front-end development, web designer">
		<meta name="description" content="Freelance Front-end Developer producing high quality responsive websites and exceptional user experience">
		<!--  og:meta data-->
		<meta property="og:type" content="website" />
	  <meta property="og:title" content="Gerardo Mestanza - Programmer" />
	  <meta property="og:description" content="Gerardo Mestanza, Front-end Developer producing high quality responsive websites and Unique portfolios for creatives." />
	  <meta property="og:url" content="http://www.gerardomestanza.com/" />
	  <meta property="og:site_name" content="gerardo mestanza" />
		<meta property="og:image" name="thumb" content="http://gerardomestanza.com/assets/img/myLogoWeb.png">
		<!--  twitter stuff-->
		<meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Freelance Front-end Developer producing high quality responsive websites and Unique portfolios for creatives"/>
    <meta name="twitter:title" content="Portfolio | Gerardo Mestanza - Full-Stack Developer"/>
    <meta name="twitter:site" content="@Gmes23"/>
    <meta name="twitter:image" content="http://www.gerardomestanza.com/assets/img/myLogoWeb.png"/>
    <meta name="twitter:creator" content="@Gmes23"/>
		<!-- links and scripts -->
		<link rel="shortcut icon" href="assets/img/myLogoWeb.png" sizes="300×300">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
 <body>

	{{{ body }}}


<script type="text/javascript">
//
$('.gmMainMenuButton').on('click', function(){
	$('.gmMenuTakeOver').toggle().on("animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd", function(e){

		$('.gmMenuTakeOver').toggleClass('slideUpMenu slideDownMenuGM');
	});
		$('.sideLinesM').toggle();
		$('.sideLinesM2').toggle();
			$('.gmLogo').toggle();

});

//
// $('.gmMainMenuButton').on('click', function(){
// 	$(".gmMenuTakeOver").toggle(function() {
// 	    // $(this).animate({height: '100vh'});
// 	}, function() {
// 	    $(this).animate({height: '0'});
// 	});
//
//
// });


$('a').click(function(event) {

event.preventDefault();
newLocation = this.href

  $('body').fadeOut(500,newpage);


});

function newpage() {

window.location = newLocation;

}



</script>


</body>
</HTML>
