
<div class="gmMain" id="gmMainFirstPage">
  <div class="gmMenuTakeOver slideUpMenu">
    <div class="gmOptionMenuHolder">
      <div class="textblind">
        <span class="blind"><span>
          <h2 class="gmMIMP3"><a href="/portfolio" class="gmMainH3Link">All Projects</a></h2>
        </span></span>
        <span class="blind"><span>
        <h2 class="gmMIMP3"><a href="/about" class="gmMainH3Link">About</a></h2>
        </span></span>
        <span class="blind"><span>
          <h2 class="gmMIMP3"><a href="/contact" class="gmMainH3Link">Contact</a></h2>
        </span></span>
      </div>
    </div>
    <div class="socialLinksConforMenu">
      <a class="socialMenuLinks" href="#"> instagram</a>
      <a class="socialMenuLinks" href="#">Github</a>
      <a class="socialMenuLinks" href="#">Linkedin</a>
    </div>
  </div>
  <div class="gmNav">
      <div class="gmLogo">
        <a class="gmLogoTaker"href="/"> GM </a>
      </div>
      <div class="gmMainMenuButton">
        <div class="smallLetter">1</div>
        <span class="sideLinesM">Menu</span>
        <span class="sideLinesM" style="display:none; color: white;">Close</span>

        <div class="smallLetterRight">5</div>
      </div>
  </div>

<div class="container-fluid">
  <div class="row gmBackground">
    <div class="col-gd-2 gmColLeft">

    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
      <a href="/" class="gmNavfromMain"><span class="gmESpan1"> Home </span></a>

    </div>
    <div class="col-gd-2">
      <a href="/about" class="gmNavfromMain"><span class="gmESpan1"> About </span></a>
    </div>
    <div class="col-gd-2">
      <a href="/contact" class="gmNavfromMain"><span class="gmESpan1"> Contact </span></a>
    </div>
  </div>

</div>

<div class="gmSocialMedia">
  <div class="gmSocialNav">
    <a class="socialLinks" href="#"> <span class="gmESpan1"> instagram </span></a>
    <a class="socialLinks" href="#"> <span class="gmESpan1">Github </span></a>
    <a class="socialLinks" href="#"> <span class="gmESpan1">Linkedin</span></a>
  </div>
</div>


<div class="aboutGM">
  <div class="gmPhoto">
  </div>
  <div class="gmSkills">
    <h1 class="gmskillTitle"> skills </h1>
    <p> javascript <br>
        node.js <br>
        MysSQL <br>
        Mongodb <br>
        firebase <br>
        react.js <br>
        jQuery <br>
        Mocha/ Chai <br>
    </p>

    <h2 class="gmskillTitle"> About Me</h2>
      <p class="gmMeInfo"> Im Gerardo Mestanza. Im new to the world of programming but <br> work hard,
        and take pride in my work.
        <br>If your interested in my work feel free to <a href="/contact" class="gmInfoContact"> contact me. </a></p>
  </div>

</div>


</div>
