
<div class="gmMain" id="gmMainFirstPage">

  <div class="gmNav">
      <div class="gmLogo">
      <a class="gmLogoTaker"href="/"> GM </a>
      </div>
  </div>

<div class="container-fluid">
  <div class="row gmBackground">
    <div class="col-gd-2 gmColLeft">

    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
      <a href="/" class="gmNavfromMain"><span class="gmESpan1"> Home </span></a>

    </div>
    <div class="col-gd-2">
      <a href="/about" class="gmNavfromMain"><span class="gmESpan1"> About </span></a>
    </div>
    <div class="col-gd-2">
      <a href="/contact" class="gmNavfromMain"><span class="gmESpan1"> Contact </span></a>
    </div>
  </div>

</div>

<div class="gmSocialMedia">
  <div class="gmSocialNav">
    <a class="socialLinks" href="#"> <span class="gmESpan1"> instagram </span></a>
    <a class="socialLinks" href="#"> <span class="gmESpan1">Github </span></a>
    <a class="socialLinks" href="#"> <span class="gmESpan1">Linkedin</span></a>
  </div>
</div>
