
<div class="gmMain" id="gmMainFirstPage">

  <div class="gmNav">
      <div  class="gmLogo">
        <a class="gmLogoTaker"href="/"> GM </a>
      </div>
  </div>

<div class="container-fluid">
  <div class="row gmBackground">
    <div class="col-gd-2 gmColLeft">
      <div class="gmArrow">
        <p>scroll</p>
        <div class="fa fa-long-arrow-left fa-3x testArrow" aria-hidden="true"></div>
      </div>
    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
      <a href="/" class="gmNavfromMain"><span class="gmESpan1"> Home </span></a>
      <div class="gmAllProjects">
        <a href="/portfolio" class="gmTakemeRoad"><span class="gmESpan1">All Projects</span></a>
      </div>
    </div>
    <div class="col-gd-2">
      <a href="/about" class="gmNavfromMain"><span class="gmESpan1"> About </span></a>
    </div>
    <div class="col-gd-2">
      <a href="/contact" class="gmNavfromMain"><span class="gmESpan1"> Contact </span></a>
    </div>
  </div>

</div>

<div class="gmSocialMedia">
  <div class="gmSocialNav">
    <a class="socialLinks" href="#"> <span class="gmESpan1"> instagram </span></a>
    <a class="socialLinks" href="#"> <span class="gmESpan1">Github </span></a>
    <a class="socialLinks" href="#"> <span class="gmESpan1">Linkedin</span></a>
  </div>
</div>


<div class="gmMain2">
  <div class="gmshow active">
        <div class="gmMainPic1">
        </div>
        <div class="gmMainPic2 slideUp">
        </div>
        <div class="gmMainPic3">
        </div>
        <div class="gmMainText">
          <h1> FULL-STACK <br> DEVELOPER</h1>
        </div>
  </div>
  <div class="gmshow">
    <div class="gmMainPicS1 slideUp">
    </div>
    <div class="gmMainText2">
      <div class="textblind">
        <span class="blind"><span>
          <h2 class="gmMIMP3">MongoDb Scraper </h2>
        </span></span>
        <span class="blind"><span>
        <p class="gmMIMP2">  MongoDb Scraper </p>
        </span></span>
        <span class="blind"><span>
          <a href="/work-1" class="gmMIMP"> More Info </a>
        </span></span>
      </div>
      <!-- <a href="/work-1"> visit site </a> -->
    </div>
  </div>
  <div class="gmshow">
    <div class="gmMainPicS2 slideUp">
    </div>
    <div class="gmMainText2">

      <div class="textblind">
        <span class="blind"><span>
          <h2 class="gmMIMP3">React.js NYTimes</h2>
        </span></span>
        <span class="blind"><span>
        <p class="gmMIMP2">  First project builts with React.js </p>
        </span></span>
        <span class="blind"><span>
          <a href="/work-2" class="gmMIMP"> More Info </a>
        </span></span>
      </div>
      <!-- <a href="/work-2"> visit site </a>  -->
    </div>
  </div>
  <div class="gmshow">
    <div class="gmMainPicS3 slideUp">
    </div>
    <div class="gmMainText2">
      <div class="textblind">
        <span class="blind"><span>
          <h2 class="gmMIMP3"> Meteor Instagram </h2>
        </span></span>
        <span class="blind"><span>
        <p class="gmMIMP2"> Project built using Meteor.js, instagram clone </p>
        </span></span>
        <span class="blind"><span>
          <a href="/work-3" class="gmMIMP"> More Info </a>
        </span></span>
      </div>
      <!-- <a href="/work-3"> visit site </a>  -->
    </div>
  </div>
  <div class="gmshow">
    <div class="gmMainPicS4 slideUp">
    </div>
  <div class="gmMainText2">
    <div class="textblind">
      <span class="blind"><span>
        <h2 class="gmMIMP3">To be announced </h2>
      </span></span>
      <span class="blind"><span>
      <p class="gmMIMP2">  To be announced </p>
      </span></span>
      <span class="blind"><span>
        <a href="/work-4" class="gmMIMP"> More Info </a>
      </span></span>
    </div>
    <!-- <a href="/work-4"> visit site </a>  -->
  </div>
  </div>
</div>



</div>
