


<div class="gmMain" id="gmMainFirstPage">
  <div class="gmMenuTakeOver slideUpMenu">
    <div class="gmOptionMenuHolder">
      <div class="textblind">
        <span class="blind"><span>
          <h2 class="gmMIMP6"><a href="/portfolio" class="gmMainH3Link">All Projects</a></h2>
        </span></span>
        <span class="blind"><span>
        <h2 class="gmMIMP6"><a href="/about" class="gmMainH3Link">About</a></h2>
        </span></span>
        <span class="blind"><span>
          <h2 class="gmMIMP6"><a href="/contact" class="gmMainH3Link">Contact</a></h2>
        </span></span>
      </div>
    </div>
    <div class="socialLinksConforMenu">
      <a class="socialMenuLinks" href="https://www.instagram.com/gerardo_mes/"> instagram</a>
      <a class="socialMenuLinks" href="https://github.com/Gmes23">Github</a>
      <a class="socialMenuLinks" href="https://www.linkedin.com/in/gerardo-mestanza-6b518b130">Linkedin</a>
    </div>
  </div>

  <div class="gmNav">
      <div  class="gmLogo">
        <a class="gmLogoTaker"href="/"> GM </a>
      </div>
      <div  class="gmLogo" style="display:none; color: white;">
        <a class="gmLogoTaker"href="/"> GM </a>
      </div>
      <div class="gmMainMenuButton">
        <!-- <div class="smallLetter">1</div> -->
        <span class="sideLinesM">Menu</span>
        <span class="sideLinesM2" style="display:none; color: white;">Close</span>
        <!-- <div class="smallLetterRight">5</div> -->
      </div>
  </div>


<div class="container-fluid">
  <div class="row gmBackground">
    <div class="col-gd-2 gmColLeft">
      <div class="gmArrow">
        <p>scroll</p>
        <div class="fa fa-long-arrow-left fa-3x testArrow" aria-hidden="true"></div>
      </div>
    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
      <a href="/" class="gmNavfromMain"><span class="gmESpan1"> Home </span></a>
      <div class="gmAllProjects">
        <a href="/portfolio" class="gmTakemeRoad"><span class="gmESpan1">All Projects</span></a>
      </div>
    </div>
    <div class="col-gd-2">
      <a href="/about" class="gmNavfromMain"><span class="gmESpan1"> About </span></a>
    </div>
    <div class="col-gd-2">
      <a href="/contact" class="gmNavfromMain"><span class="gmESpan1"> Contact </span></a>
    </div>
  </div>

</div>

<div class="gmSocialMedia">
  <div class="gmSocialNav">
    <a class="socialLinks" href="https://www.instagram.com/gerardo_mes/"> <span class="gmESpan1"> instagram </span></a>
    <a class="socialLinks" href="https://github.com/Gmes23"> <span class="gmESpan1">Github </span></a>
    <a class="socialLinks" href="https://www.linkedin.com/in/gerardo-mestanza-6b518b130"> <span class="gmESpan1">Linkedin</span></a>
  </div>
</div>


<div class="gmMain2">
  <div class="gmshow active">
        <div class="gmMainPic1">
        </div>
        <div class="gmMainPic2 slideUp">
        </div>
        <div class="gmMainPic3">
        </div>
        <div class="gmMainText">
          <h1> FULL-STACK <br> DEVELOPER</h1>
        </div>
  </div>
  <div class="gmshow">
    <div class="gmMainPicS1 slideUp">
    </div>
    <div class="gmMainText2">
      <div class="textblind">
        <span class="blind"><span>
          <h2 class="gmMIMP3"><a href="/work-1" class="gmMainH2Link">MongoDb Scraper </a></h2>
        </span></span>
        <span class="blind"><span>
        <p class="gmMIMP2"> Built with node,a MongoDb Scraper </p>
        </span></span>
        <span class="blind"><span>
          <a href="/work-1" class="gmMIMP"> More Info </a>
        </span></span>
      </div>
      <!-- <a href="/work-1"> visit site </a> -->
    </div>
  </div>
  <div class="gmshow">
    <div class="gmMainPicS2 slideUp">
    </div>
    <div class="gmMainText2">

      <div class="textblind">
        <span class="blind"><span>
          <h2 class="gmMIMP3"><a href="/work-2" class="gmMainH2Link">React.js NYTimes</a></h2>
        </span></span>
        <span class="blind"><span>
        <p class="gmMIMP2">  First project builts with React.js </p>
        </span></span>
        <span class="blind"><span>
          <a href="/work-2" class="gmMIMP"> More Info </a>
        </span></span>
      </div>
      <!-- <a href="/work-2"> visit site </a>  -->
    </div>
  </div>
  <div class="gmshow">
    <div class="gmMainPicS3 slideUp">
    </div>
    <div class="gmMainText2">
      <div class="textblind">
        <span class="blind"><span>
          <h2 class="gmMIMP3"><a href="/work-3" class="gmMainH2Link"> Meteor Instagram </a></h2>
        </span></span>
        <span class="blind"><span>
        <p class="gmMIMP2"> Project built using Meteor.js, instagram clone </p>
        </span></span>
        <span class="blind"><span>
          <a href="/work-3" class="gmMIMP"> More Info </a>
        </span></span>
      </div>
      <!-- <a href="/work-3"> visit site </a>  -->
    </div>
  </div>
  <div class="gmshow">
    <div class="gmMainPicS4 slideUp">
    </div>
  <div class="gmMainText2">
    <div class="textblind">
      <span class="blind"><span>
        <h2 class="gmMIMP3"><a href="/work-4" class="gmMainH2Link">Open|Close </a></h2>
      </span></span>
      <span class="blind"><span>
      <p class="gmMIMP2">  Project built using Meteor.js, blaze, mongoDB</p>
      </span></span>
      <span class="blind"><span>
        <a href="/work-4" class="gmMIMP"> More Info </a>
      </span></span>
    </div>
    <!-- <a href="/work-4"> visit site </a>  -->
  </div>
  </div>
</div>



</div>


<script type="text/javascript">




$('.gmMain2').on('touchmove', function() { //touchmove works for iOS, I don't know if Android supports it
$('.gmMain2').trigger('mousewheel');
});



//

$('.gmMain2').each(function(i) {
  var $wrap = $(this),
    $active = $wrap.find('.active').first(),
    $prev = $active.prev(),
    $next = $active.next();

  if( !$prev.length ) $prev = $wrap.find('.gmshow').last();
  if( !$next.length ) $next = $wrap.find('.gmshow').first();

  $prev.addClass('prev');
  $next.addClass('next');
});


var	lastUpdate = new Date();
// 		deg = (360/$('.gmshow').length);


// function(event){ if(event.target === $('.gmshow')){ stop(); } }



$('.gmMain2').on('mousewheel', function(event, delta, deltaX, deltaY) {

  event.preventDefault();

  var thisUpdate = new Date();
	if( thisUpdate - lastUpdate < 500 ) return;
	lastUpdate = thisUpdate;

  //
  // var thisUpdate = new Date();
  // lastUpdate = thisUpdate;
  // if( thisUpdate - lastUpdate < 500 ) return;

  // $('.gmshow.active').each(function(){
  //   var $wrap = $(this);
  //   $wrap.find('.slideUp').removeClass('slideUp').addClass('slideDown');
  // });
  //
  //
  // $('.slideDown').on("animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd", function(e){
  //   // if(event.target === event.currentTarget){  Lerp();  $(this).off(e);} }
  //   // e.preventDefault();
  //   Lerp();
  //   $('.gmshow.prev' || '.gmshow.next' ).each(function(){
  //     var $wrap = $(this);
  //     $wrap.find('.slideDown').removeClass('slideDown').addClass('slideUp');
  //
  //
  //   })
  //   // return false;
  //   $('.gmshow.active').off(e);
  //   // $(this).empty();
  // })
Lerp();



  function Lerp(){
  $('.gmMain2').each(function() {

    var $wrap = $(this),
      $active = $wrap.find('.active'),
      $prev = $wrap.find('.prev'),
      $next = $wrap.find('.next'),

      $tmp;


    //go back
    if( deltaY === 1) {

      $active
        .removeClass('active')
        .addClass('next')
        .siblings()
        .removeClass('next');

      $tmp = $prev
        .removeClass('prev')
        .addClass('active')
        .prev();

      if( !$tmp.length ) $tmp = $wrap.find('.gmshow').last();

      $tmp
        .removeClass('next')
        .addClass('prev')
        .siblings()
        .removeClass('prev');

    } else {

      $active
        .removeClass('active')
        .addClass('prev')
        .siblings()
        .removeClass('prev');

      $tmp = $next
        .removeClass('next')
        .addClass('active')
        .next();

      if( !$tmp.length ) $tmp = $wrap.find('.gmshow').first();

      $tmp
        .removeClass('prev')
        .addClass('next')
        .siblings()
        .removeClass('next');
    }

  });
 }


});


</script>
