<div class="gmMain">

<div class="gmSocialMedia">
  <div class="gmSocialNav"
    <a href="#"> instagram </a>
    <a href="#"> Github </a>
    <a href="#"> Linkedin</a>
  </div>
</div>
  <div class="gmNav">
      <div class="gmLogo">
        GM
      </div>
  </div>

<div class="container-fluid">
  <div class="row gmBackground">
    <div class="col-gd-2 gmColLeft">
    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
      <a href="#"> Home</a>
    </div>
    <div class="col-gd-2">
      <a href="#"> About</a>
    </div>
    <div class="col-gd-2">
      <a href="#"> Contact</a>
    </div>
  </div>

</div>

<div class="gmMain2">
  <div class="gmMainPic1">
  </div>
  <div class="gmMainPic2">
  </div>
  <div class="gmMainPic3">
  </div>
  <div class="gmMainText">
    <h1> FULL-STACK <br> DEVELOPER</h1>
  </di>
</div>



</div
