
<div class="gmMain" id="gmMainFirstPage">

  <div class="gmNav">
      <div  class="gmLogo">
        <a class="gmLogoTaker"href="/"> GM </a>
      </div>
  </div>

<div class="container-fluid">
  <div class="row gmBackground">
    <div class="col-gd-2 gmColLeft">
      <div class="gmArrow">
        <p>scroll</p>
        <i class="fa fa-long-arrow-left fa-3x testArrow" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
      <a href="/" class="gmNavfromMain"><span class="gmESpan1"> Home </span></a>
      <div class="gmAllProjects">
        <a href="/portfolio" class="gmTakemeRoad"><span class="gmESpan1">All Projects</span></a>
      </div>
    </div>
    <div class="col-gd-2">
      <a href="/about" class="gmNavfromMain"><span class="gmESpan1"> About </span></a>
    </div>
    <div class="col-gd-2">
      <a href="/contact" class="gmNavfromMain"><span class="gmESpan1"> Contact </span></a>
    </div>
  </div>

</div>

<div class="gmSocialMedia">
  <div class="gmSocialNav">
    <a class="socialLinks" href="#"> <span class="gmESpan1"> instagram </span></a>
    <a class="socialLinks" href="#"> <span class="gmESpan1">Github </span></a>
    <a class="socialLinks" href="#"> <span class="gmESpan1">Linkedin</span></a>
  </div>
</div>


<div class="gmMain2">
  <div class="gmshow active">
        <div class="gmMainPic1">
        </div>
        <div class="gmMainPic2 slideUp">
        </div>
        <div class="gmMainPic3">
        </div>
        <div class="gmMainText">
          <h1> FULL-STACK <br> DEVELOPER</h1>
        </div>
  </div>
  <div class="gmshow">
    <div class="gmMainPicS1 slideUp">
    </div>
    <div class="gmMainText">
      <h2> Sequelize Sushi</h2>
      <p> Project built on MySQL Some More Text Here</p>
      <a href="#"> Visit Site </a>
      <a href="#"> More Info </a>
    </div>
  </div>
  <div class="gmshow">
    <div class="gmMainPicS2 slideUp">
    </div>
    <div class="gmMainText">
      <h2> Rooster Booster </h2>
      <p> group Project built on MySQL Some More Text Here</p>
      <a href="#"> Visit Site </a>
      <a href="#"> More Info </a>
    </div>
  </div>
  <div class="gmshow">
    <div class="gmMainPicS3 slideUp">
    </div>
    <div class="gmMainText">
      <h2> Meteor App </h2>
      <p> group Project built on MySQL Some More Text Here</p>
      <a href="#"> Visit Site </a>
      <a href="#"> More Info </a>
    </div>
  </div>
  <div class="gmshow">
    <div class="gmMainPicS4 slideUp">
    </div>
  <div class="gmMainText">
    <h2> To be announced </h2>
    <p> group Project built on MySQL Some More Text Here</p>
    <a href="#"> Visit Site </a>
    <a href="#"> More Info </a>
  </div>
  </div>
</div>



</div>
