
<div class="gmMain" id="gmMainFirstPage">

  <div class="gmNav">
      <div class="gmLogo">
        GM
      </div>
  </div>

<div class="container-fluid">
  <div class="row gmBackground">
    <div class="col-gd-2 gmColLeft">
    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
      <a href="#"> Home</a>
    </div>
    <div class="col-gd-2">
      <a href="#"> About</a>
    </div>
    <div class="col-gd-2">
      <a href="#"> Contact</a>
    </div>
  </div>

</div>

<div class="gmSocialMedia">
  <div class="gmSocialNav">
    <a class="socialLinks" href="#"> instagram </a>
    <a class="socialLinks" href="#"> Github </a>
    <a class="socialLinks" href="#"> Linkedin</a>
  </div>
</div>


<div class="gmMain2">
  <div class="gmshow active">
        <div class="gmMainPic1">
        </div>
        <div class="gmMainPic2">
        </div>
        <div class="gmMainPic3">
        </div>
        <div class="gmMainText">
          <h1> FULL-STACK <br> DEVELOPER</h1>
        </div>
  </div>
  <div class="gmshow">
    <div class="gmMainPicS1">
    </div>
    <div class="gmMainText">
      <h2> Sequelize Sushi </h2>
    </div>
    <div class="gmProjectInfo">
      <p> Project built on MySQL Some More Text Here<p>
      <a href="#"> Visit Site </a>
      <a href="#"> More Info </a>
    </div>
  </div>
  <div class="gmshow">
    <div class="gmMainPicS2">
    </div>
    <div class="gmMainText">
      <h2> Rooster Booster </h2>
    </div>
    <div class="gmProjectInfo">
      <p> group Project built on MySQL Some More Text Here<p>
      <a href="#"> Visit Site </a>
      <a href="#"> More Info </a>
    </div>
  </div>
  <div class="gmshow">
    <div class="gmMainPicS3">
    </div>
    <div class="gmMainText">
      <h2> Meteor App </h2>
    </div>
    <div class="gmProjectInfo">
      <p> group Project built on MySQL Some More Text Here<p>
      <a href="#"> Visit Site </a>
      <a href="#"> More Info </a>
    </div>
  </div>
  <div class="gmshow">
    <div class="gmMainPicS4">
  </div>
  <div class="gmMainText">
    <h2> To be announced </h2>
  </div>
  <div class="gmProjectInfo">
    <p> group Project built on MySQL Some More Text Here<p>
    <a href="#"> Visit Site </a>
    <a href="#"> More Info </a>
  </div>
  </div>
</div>


<!--
<div class="gmMain2">
  <div class="gmMainPic1">
  </div>
  <div class="gmMainPic2">
  </div>
  <div class="gmMainPic3">
  </div>
  <div class="gmMainText">
    <h1> FULL-STACK <br> DEVELOPER</h1>
  </div>
</div> -->


<!--
<div class="wrap">
  <div class="article active"></div>
  <div class="article">14;</div>
  <div class="article">06;</div>
  <div class="article">0;</div>
  <div class="article">e;</div>
</div> -->





</div>





<!-- <div class="cont container-1"></div>
<div class="cont container-2"></div>
<div class="cont container-3"></div>
<div class="cont container-4"></div>
<div class="cont container-5"></div> -->
