
<div class="gmMain" id="gmMainFirstPage">
  <div class="gmMenuTakeOver slideUpMenu">
    <div class="gmOptionMenuHolder">
      <div class="textblind">
        <span class="blind"><span>
          <h2 class="gmMIMP3"><a href="/portfolio" class="gmMainH3Link">All Projects</a></h2>
        </span></span>
        <span class="blind"><span>
        <h2 class="gmMIMP3"><a href="/about" class="gmMainH3Link">About</a></h2>
        </span></span>
        <span class="blind"><span>
          <h2 class="gmMIMP3"><a href="/contact" class="gmMainH3Link">Contact</a></h2>
        </span></span>
      </div>
    </div>
    <div class="socialLinksConforMenu">
      <a class="socialMenuLinks" href="https://www.instagram.com/gerardo_mes/"> instagram</a>
      <a class="socialMenuLinks" href="https://github.com/Gmes23">Github</a>
      <a class="socialMenuLinks" href="https://www.linkedin.com/in/gerardo-mestanza-6b518b130">Linkedin</a>
    </div>
  </div>

  <div class="gmNav">
      <div class="gmLogo">
      <a class="gmLogoTaker"href="/"> GM </a>
      </div>
      <div class="gmMainMenuButton">
        <div class="smallLetter">1</div>
        <span class="sideLinesM">Menu</span>
        <span class="sideLinesM" style="display:none; color: white;">Close</span>

        <div class="smallLetterRight">5</div>
      </div>
  </div>

<div class="container-fluid">
  <div class="row gmBackground">
    <div class="col-gd-2 gmColLeft">

    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
      <a href="/" class="gmNavfromMain"><span class="gmESpan1"> Home </span></a>

    </div>
    <div class="col-gd-2">
      <a href="/about" class="gmNavfromMain"><span class="gmESpan1"> About </span></a>
    </div>
    <div class="col-gd-2">
      <a href="/contact" class="gmNavfromMain"><span class="gmESpan1"> Contact </span></a>
    </div>
  </div>

</div>

<div class="gmSocialMedia">
  <div class="gmSocialNav">
    <a class="socialLinks" href="https://www.instagram.com/gerardo_mes/"> <span class="gmESpan1"> instagram </span></a>
    <a class="socialLinks" href="https://github.com/Gmes23"> <span class="gmESpan1">Github </span></a>
    <a class="socialLinks" href="https://www.linkedin.com/in/gerardo-mestanza-6b518b130"> <span class="gmESpan1">Linkedin</span></a>
  </div>
</div>


<div class="gmPortfolioDisplay">

  <div class="gmPortfolioXX">
    <!-- <a class="gmPortfolioSelect gmSelectHov1" href="/work-1"> <span class="gmESpan1">PROJECT X</span></a> -->
    <a class="gmPortfolioSelect gmSelectHov2" href="/work-1"> <span class="gmESpan1">MongoDb Scraper</span></a>
    <a class="gmPortfolioSelect gmSelectHov3" href="/work-2"> <span class="gmESpan1">React.js NYTimes</span></a>
    <a class="gmPortfolioSelect gmSelectHov4" href="/work-3"> <span class="gmESpan1">Meteor Instagram</span></a>
    <a class="gmPortfolioSelect gmSelectHov5" href="/work-4"> <span class="gmESpan1">Coming Soon</span></a>

  </div>

  <div class="gmPortfolio1" id="testman">
  </div>
</div>


</div>
