

<div class="testfile2">
<div class="testfile1">
  <div class="border1">

      <h1>Meteor Instagram<h1>
  </div>
  <!-- <h1><i class="fa fa-caret-right triangleGM fa-3x" aria-hidden="true"></i></h1> -->
  <!-- <a class="gmLogoTaker tfre"href="/"> GM </a> -->
</div>
</div>



<div class="container-fluid">
  <div class="row gmBackground">
    <div class="col-gd-2 gmColLeft" style="background-image: url(assets/img/35.jpg);     background-size: cover;
    background-position: center;">
      <!-- <div class="gmArrow">
        <p>scroll</p>
        <div class="fa fa-long-arrow-left fa-3x testArrow" aria-hidden="true"></div>
      </div> -->
    </div>
    <div class="col-gd-2" style="background-image: url(assets/img/34.jpg);     background-size: cover;
    background-position: center;">
    </div>
    <div class="col-gd-2" style="background-image: url(assets/img/1.jpg);     background-size: cover;
    background-position: center;">
    </div>
    <div class="col-gd-2" style="background-image: url(assets/img/37.jpg);     background-size: cover;
    background-position: center;">

    </div>
    <div class="col-gd-2" style="background-image: url(assets/img/36.jpg);     background-size: cover;
    background-position: center;">
      <!-- <a href="/about" class="gmNavfromMain"><span class="gmESpan1"> About </span></a> -->
    </div>
    <div class="col-gd-2" style="background-image: url(assets/img/3.jpg);     background-size: cover;
    background-position: center;">
      <!-- <a href="/contact" class="gmNavfromMain"><span class="gmESpan1"> Contact </span></a> -->
    </div>
  </div>

</div>
