<div class="gmMain" id="gmMainFirstPage" style="background-color: rgb(241,241,243);">

  <div class="gmNav">
      <div  class="gmLogo">
        <a class="gmLogoTaker"href="/"> GM </a>
      </div>
  </div>

<div class="container-fluid">
  <div class="row gmBackground">
    <div class="col-gd-2 gmColLeft">
    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
      <a href="/" class="gmNavfromMain"><span class="gmESpan1"> Home </span></a>
    </div>
    <div class="col-gd-2">
      <a href="/about" class="gmNavfromMain"><span class="gmESpan1"> About </span></a>
    </div>
    <div class="col-gd-2">
      <a href="/contact" class="gmNavfromMain"><span class="gmESpan1"> Contact </span></a>
    </div>
  </div>

</div>

<div class="gmSocialMedia">
  <div class="gmSocialNav">
    <a class="socialLinks" href="#"> <span class="gmESpan1"> instagram </span></a>
    <a class="socialLinks" href="#"> <span class="gmESpan1">Github </span></a>
    <a class="socialLinks" href="#"> <span class="gmESpan1">Linkedin</span></a>
  </div>
</div>


<div class="gmWork1Main">
  <!-- must fix top this for mobile -->
  <div class="work1Shower">
    <div class="work1Header">
      <h2 class="workTitle"> Really Project 1 </h2>
      <p class="workPgm"> contributators here maybe data here <br>
          time it took 30hours
      </p>
    </div>
    <div class="workConGM">
      <div class="workPhotoGM4">
      </div>
      <div class="rightSideWork">
        <div class="workCounter">
          04
        </div>
      </div>
      <div class="leftSideWork">
          <div class="rightButtonWork">
            <a href="/work-1"class="rightGMArrow" aria-hidden="true"> More To Come ..</a>
          </div>
          <div class="leftButtonWork">
            <a href="/work-3"class="fa fa-arrow-left fa-2x leftGMArrow" aria-hidden="true"></a>
          </div>
      </div>
    </div>
    <div class="gmWorkInfo1">
      <div class="row">
        <div class="col-md-6">
        <h2> Information </h2>
        <p class="workPgm"> some more text here some
          some more text here some
          some more text here some
          some more text here some
          some more text here some
          some more text here some
          some more text here some
          some more text here some
          some more text here some
        </p>
      </div>
      <div class="col-md-6">
        <h2> Tech </h2>
        <p class="workPgm"> some more text here some
          some more text here some
          some more text here some
          some more text here some
          some more text here some
          some more text here some
          some more text here some
          some more text here some
          some more text here some
        </p>

      </div>
     </div>
    </div>

  </div>


</div>



</div>
