<div class="gmMain" id="gmMainFirstPage" style="background-color: rgb(241,241,243);">
  <div class="gmMenuTakeOver slideUpMenu">
    <div class="gmOptionMenuHolder">
      <div class="textblind">
        <span class="blind"><span>
          <h2 class="gmMIMP6"><a href="/portfolio" class="gmMainH3Link">All Projects</a></h2>
        </span></span>
        <span class="blind"><span>
        <h2 class="gmMIMP6"><a href="/about" class="gmMainH3Link">About</a></h2>
        </span></span>
        <span class="blind"><span>
          <h2 class="gmMIMP6"><a href="/contact" class="gmMainH3Link">Contact</a></h2>
        </span></span>
      </div>
    </div>
    <div class="socialLinksConforMenu">
      <a class="socialMenuLinks" href="https://www.instagram.com/gerardo_mes/"> instagram</a>
      <a class="socialMenuLinks" href="https://github.com/Gmes23">Github</a>
      <a class="socialMenuLinks" href="https://www.linkedin.com/in/gerardo-mestanza-6b518b130">Linkedin</a>
    </div>
  </div>

  <div class="gmNav">
      <div  class="gmLogo">
        <a class="gmLogoTaker"href="/"> GM </a>
      </div>
      <div  class="gmLogo" style="display:none; color: white;">
        <a class="gmLogoTaker"href="/"> GM </a>
      </div>
      <div class="gmMainMenuButton">
        <!-- <div class="smallLetter">1</div> -->
        <span class="sideLinesM">Menu</span>

        <span class="sideLinesM2" style="display:none; color: white;">Close</span>

        <!-- <div class="smallLetterRight">5</div> -->
      </div>
  </div>

<div class="container-fluid">
  <div class="row gmBackground">
    <div class="col-gd-2 gmColLeft">
    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
    </div>
    <div class="col-gd-2">
      <a href="/" class="gmNavfromMain"><span class="gmESpan1"> Home </span></a>
    </div>
    <div class="col-gd-2">
      <a href="/about" class="gmNavfromMain"><span class="gmESpan1"> About </span></a>
    </div>
    <div class="col-gd-2">
      <a href="/contact" class="gmNavfromMain"><span class="gmESpan1"> Contact </span></a>
    </div>
  </div>

</div>

<div class="gmSocialMedia">
  <div class="gmSocialNav">
    <a class="socialLinks" href="https://www.instagram.com/gerardo_mes/"> <span class="gmESpan1"> instagram </span></a>
    <a class="socialLinks" href="https://github.com/Gmes23"> <span class="gmESpan1">Github </span></a>
    <a class="socialLinks" href="https://www.linkedin.com/in/gerardo-mestanza-6b518b130"> <span class="gmESpan1">Linkedin</span></a>
  </div>
</div>


<div class="gmWork1Main">
  <!-- must fix top this for mobile -->
  <div class="work1Shower">
    <div class="work1Header">
      <h2 class="workTitle"> Open|Close </h2>
      <p class="workPgm"> https://github.com/StefanieDing/ProjectThree <br>
          Completed in a week of hard coding, check it <a href="https://openclose.herokuapp.com/">out!</a>
      </p>
    </div>
    <div class="workConGM">
      <div class="workPhotoGM4">
      </div>
      <div class="rightSideWork">
        <div class="workCounter">
          04
        </div>
      </div>
      <div class="leftSideWork">
          <div class="rightButtonWork">
            <a href="/work-1"class="rightGMArrow" aria-hidden="true"> More To Come ..</a>
          </div>
          <div class="leftButtonWork">
            <a href="/work-3"class="fa fa-arrow-left fa-2x leftGMArrow" aria-hidden="true"></a>
          </div>
      </div>
    </div>
    <div class="gmWorkInfo1">
      <div class="row">
        <div class="col-md-6">
        <h2> Information </h2>
        <p class="workPgm">
          Search for your favorite venues to see when it opens and
          add them to your list.
          Share your favorite venues and chat with your friends through our built in messaging application.
          Mobile friendly, so you can enjoy the experience where ever you go.
        </p>
      </div>
      <div class="col-md-6">
        <h2> Tech </h2>
        <p class="workPgm">
          This project was built with
          <span class="gmWordHL">meteor.js </span>and
          <span class="gmWordHL">blaze.</span>
          Our group of 5 used several other technologies, including
          materlize, scss, babel, iron-routing and several other
          dependecies.

        </p>

      </div>
     </div>
    </div>

  </div>


</div>



</div>
