html{
  -webkit-font-smoothing: antialiased;
}

body{
  /*touch-action: none;
  -webkit-user-drag: none;*/

}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

a, a:hover, a:active, a:visited {
    text-decoration: none !important;
    cursor: pointer;
    /*color: inherit;*/
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
  font-family: Atami-Regular;
  src: url(./Atami-Regular.otf);
}
@font-face {
  font-family: ADAM;
  src: url(./ADAM.otf);
}
@font-face {
  font-family: robotext;
  src: url(./robotext.ttf);
}
@font-face {
  font-family: Abyssopelagic;
  src: url(./Abyssopelagic.otf);
}
@font-face {
  font-family: Kano;
  src: url(./Kano.otf);
}
@font-face {
  font-family: Ailerons;
  src: url(./Ailerons.otf);
}
@font-face {
  font-family: HelloStockholm-Alt;
  src: url(./HelloStockholm-Alt.ttf);
}
@font-face {
  font-family: Aqua;
  src: url(./aqua.ttf);
}

@font-face {
  font-family:moderno;
  src: url(./moderno.ttf);
}

@font-face {
  font-family:Brusher-Regular;
  src: url(./Brusher-Regular.ttf);
}


@-moz-keyframes slideUp {
  from {
      height: 0%;
  } 60% {
      height: 4%;
  } 70% {
      height: 8%;
  } 80% {
      height: 12%;
  } 90% {
      height: 16%;
  } 100% {
      height: 20%;
  }
}

@keyframes slideUp {
  from {
      height: 0%;
  } 60% {
      height: 4%;
  } 70% {
      height: 8%;
  } 80% {
      height: 12%;
  } 90% {
      height: 16%;
  } 100% {
      height: 20%;
  }
}


.gmNav{
  position: absolute;
  height: 150px;
  width: 100%;
  padding-right: 16.6666666%;
  padding-left: 17.6666666%;
}

.sideLinesM{
 overflow: hidden;
 text-align: center;
 transform: translateY(-100%);
}
.sideLinesM:before,
.sideLinesM:after {
 background-color: #333;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}
.sideLinesM:before {
 right: 0.5em;
 margin-left: -50%;
}
.sideLinesM:after {
 left: 0.5em;
 margin-right: -50%;
}

/**/

.sideLinesM2{
 overflow: hidden;
 text-align: center;
 transform: translateY(-100%);
}
.sideLinesM2:before,
.sideLinesM2:after {
 background-color: white;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}
.sideLinesM2:before {
 right: 0.5em;
 margin-left: -50%;
}
.sideLinesM2:after {
 left: 0.5em;
 margin-right: -50%;
}



.gmNavfromMain:hover{
  color: rgb(49,58,61);
  text-decoration: none;
}

.gmNavfromMain:active {
  color: rgb(49,58,61);
  text-decoration: none;
}


.gmSocialMedia{
  position: absolute;
  width: 6.295%;
  height: 100vh;
  left: 0px;
  top: 0px;
  text-transform: lowercase;
  z-index: 10;
}

.gmArrow{
  position: absolute;
  transform: rotate(270deg);
  transform-origin: 10px;
  bottom: 20px;
  left: 10%;
  animation-name: bounce;
  -webkit-animation-name: bounce;
  -webkit-transition: all .7s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition:  all .7s cubic-bezier(0.47, 0, 0.745, 0.715);

  animation-duration:2s infinite;
  -webkit-animation-duration: 2s infinite;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  color: rgb(235,236,238);
}


.gmArrow>p{
  transform: rotate(70deg);
    transform-origin: 10px;
    position: absolute;
    font-size: 1.2em;
    left: 100px;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
	40% {
    @include transform(translateY(-30px));
  }
	60% {
    @include transform(translateY(-15px));
  }
}
.gmSocialNav>a{
  transform: rotate(270deg);
  transform-origin: 10px;
  float: left;
  margin-right: 40px;
  display: inline-flex;
  line-height: 8;
  cursor: pointer;
  font-family: 'Abyssopelagic';
  font-weight: 900;
  letter-spacing: 2px;
  color: rgb(49,58,61);
}
.gmSocialNav>a:hover{
  text-decoration: none;
  color: rgb(49,58,61);
}

.socialLinks{
  cursor: pointer;
  color: black;
}
.gmSocialNav{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 400px;
  left: 17px;
  padding-left: 2rem;
}

.gmLogo{;
  font-family: HelloStockholm-Alt;
  font-size: 60px;
  top: 60px;
  left: 20px;
  letter-spacing: 5px;
  position: absolute;
  color: rgb(49,58,61);
  z-index: 1000;
}
.gmLogoTaker{
  color: inherit;
  text-decoration: none;
}
.gmLogoTaker:hover{
  color: inherit;
  text-decoration: none;
}
.gmBackground{
  padding-right: 6.295%;
  padding-left:  6.295%;
  z-index: -100;
}
.gmBackground>div{
  min-height:100vh;
  float: left;
  width: 16.66667%;
  border-right: solid;
  border-color: #edf5f8;
  border-width: 1px;
  z-index: -100;
}

.gmColLeft{
  border-left: solid;
  border-color: #edf5f8;
  border-width: 1px;
  z-index: -100;
}


.gmMainText2{
  position: absolute;
  top: 200px;
  left: 22%;
  bottom: 0px;
  z-index: 5;
  width: 260px;
  /*padding-right: 600px;*/
}

.gmMainText>h1{
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: white;
}


@media screen and (max-width:800px) and (min-width:300px)
{
  /* intermediate text density on tablet devices */
  .gmPhoto {
    position: absolute;
    top: 120px;
    width: 43.905%;
    height: 350px;
    background-image: url(../img/10.jpg);
    background-size: cover;
    background-position: center;
    left: 50.4334%;
    z-index: 3;
}
  .gmPortfolioXX {
    position: absolute;
        top: 83px;
        left: 6%;
        z-index: 5;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        /* font-family: 'Montserrat', sans-serif; */
        color: rgb(49,58,61);
        text-decoration: none;
}
  .gmWork1Main {
    display: block;
    position: absolute;
    top: 8px;
    height: 100vh;
    width: 100%;
    padding-right: 4.666667%;
    padding-left: 4.666667%;
    font-family: Atami-Regular;
    letter-spacing: 2px;
}
  .gmMainPic2 {
    position: absolute;
    top: 158px;
    width: 43.905%;
    height: 350px;
    background-image: url(../img/5.jpg);
    background-size: cover;
    background-position: center;
    left: 35.4334%;
    z-index: 3;
}
.gmMainText>h1
  {
    font-size: 3em;
  }
  .gmMainText2>h2
    {
      font-size: 3em;
    }
  .gmAllProjects {
    display: none;

  }
  .gmMainText2{
    position: absolute;
    top: 123px;
    left: 8%;
    bottom: 0px;
    z-index: 5;
    width: 260px;
  }
  .gmSocialMedia {
    display: none;
  }
  .gmMainPicS2 {
    position: absolute;
    top: 148px;
    width: 43.905%;
    height: 350px;
    background-image: url(../img/24.jpg);
    background-size: cover;
    background-position: center;
    left: 50%;
    z-index: 3;
  }
  .gmLogo{
    top: 4px;
    left: 20px;
  }
  .gmMainPicS1 {
    position: absolute;
    top: 155px;
    width: 43.905%;
    height: 350px;
    background-image: url(../img/21.png);
    background-size: cover;
    background-position: center;
    left: 51.4334%;
    z-index: 3;
}
.gmMainPicS3 {
    position: absolute;
    top: 169px;
    width: 43.905%;
    height: 350px;
    background-image: url(../img/30inuse.jpg);
    background-size: cover;
    background-position: center;
    left: 50%;
    z-index: 3;
}
.gmMainPicS4 {
    position: absolute;
    top: 160px;
    width: 43.905%;
    height: 350px;
    background-image: url(../img/10.jpg);
    background-size: cover;
    background-position: center;
    left: 50%;
    z-index: 3;
}
.gmWorkInfo1 {
    position: relative;
    width: 100%;
    height: auto;
    padding: 36px;
}
.work1Shower {
    position: relative;
    top: 10%;
    height: 100vh;
    width: 100%;
}
.workConGM {
    position: relative;
    margin-top: -13px;
    height: 400px;
    width: 100%;
}
.workTitle {
    margin-bottom: 9px;
    border-bottom: 5px solid rgb(49,58,61);
    line-height: 34px;
}
.gmNavfromMain {
display: none;
}
.gmMainMenuButton{
  display: block;
      border: none;
      width: 100px;
      height: 50px;
      text-align: center;
      color: rgb(69,63,63);
      z-index: 1000;
      position: absolute;
      right: 25px;
      padding: 33px;
      top: -20px;
      font-weight: bold;
font-size: 17px;
}
.smallLetter{
  position: absolute;
  left: 10px;
}
.smallLetterRight{
  position: absolute;
  right: 10px;
  top: 75px;
}
.gmMainText {
  display: none;
    /*position: absolute;
    top: 200px;
    left: 7%;
    z-index: 5;
    padding-right: 73px;
    color: rgb(49,58,61);*/
}
.gmSkills {
  position: absolute;
  top: 18%;
  left: 7%;
  z-index: 5;
  font-family: 'robotext';
}
.gmContactList {
  position: absolute;
  top: 29%;
  left: 8%;
  z-index: 5;
  font-family: 'Montserrat', sans-serif;
}
}

@media screen and (min-width:800px)
{
  /* text can be spaced out a little better on a larger screen */
  .gmContactList {
      position: absolute;
      top: 180px;
      left: 24%;
      z-index: 5;
      font-family: 'Montserrat', sans-serif;
  }
  .gmPhoto{
    position: absolute;
    top: 200px;
    width: 43.905%;
    height: 350px;
    background-image: url("../img/10.jpg");
    background-size: cover;
    background-position: center;
    left: 35.4334%;
    z-index: 3;
  }
  .gmSkills{
    position: absolute;
    top: 200px;
    left: 24%;
    z-index: 5;
    font-family: 'robotext';
  }
  .gmPortfolioXX{
    position: absolute;
    top: 170px;
    left: 24%;
    z-index: 5;
    font-family: 'Montserrat', sans-serif;
    color: rgb(49,58,61);
    text-decoration: none;
  }
  .gmMainText {
    position: absolute;
    top: 200px;
    left: 25%;
    z-index: 5;
  }
  .gmMainMenuButton{
    display:none;
  }
  .gmMainPic2{
    position: absolute;
    top: 200px;
    width: 43.905%;
    height: 350px;
    background-image: url("../img/5.jpg");
    background-size: cover;
    background-position: center;
    left: 35.4334%;
    z-index: 3;
  }

.gmMainText>h1
  {
    font-size: 5em;
  }

.gmMainText2>h2
  {
      font-size: 5em;
  }

  .gmAllProjects{
    position: absolute;
      height: 50px;
      font-size: 14px;
      text-align: center;
      padding-left: 10px;
      font-family: Kano;
      letter-spacing: 2px;
      bottom: 2%
  }
  .gmMainText2{
    position: absolute;
    top: 200px;
    left: 22%;
    bottom: 0px;
    z-index: 5;
    width: 260px;
  }
  .gmSocialMedia {
      position: absolute;
      width: 6.295%;
      height: 100vh;
      left: 0px;
      top: 0px;
      text-transform: lowercase;
      z-index: 10;
  }
  .gmLogo {
    font-family: HelloStockholm-Alt;
    font-size: 60px;
    top: 60px;
    left: 20px;
    letter-spacing: 5px;
    position: absolute;
    color: rgb(49,58,61);
    z-index: 1000;
  }
  .gmMainPicS1{
    position: absolute;
    top: 200px;
    width: 43.905%;
    height: 350px;
    background-image: url("../img/21.png");
    background-size: cover;
    background-position: center;
    left: 51.4334%;
    z-index: 3;
  }
  .gmMainPicS2 {
    position: absolute;
    top: 200px;
    width: 43.905%;
    height: 350px;
    background-image: url(../img/24.jpg);
    background-size: cover;
    background-position: center;
    left: 50%;
    z-index: 3;
}
.gmMainPicS3{
  position: absolute;
  top: 200px;
  width: 43.905%;
  height: 350px;
  background-image: url("../img/30inuse.jpg");
  background-size: cover;
  background-position: center;
  left: 50%;
  z-index: 3;
}
.gmMainPicS4{
  position: absolute;
  top: 200px;
  width: 43.905%;
  height: 350px;
  background-image: url("../img/10.jpg");
  background-size: cover;
  background-position: center;
  left: 50%;
  z-index: 3;
}
.gmWorkInfo1 {
    position: relative;
    width: 100%;
    height: auto;
    padding: 80px;
}
.work1Shower {
    position: relative;
    top: 15%;
    height: 100vh;
    width: 100%;
}

.workConGM{
  position: relative;
  margin-top: 20px;
  height:  400px;
  width: 100%;
}
.workTitle {
  margin-bottom: 20px;
  border-bottom: 5px solid rgb(49,58,61);
  line-height: 55px;
}
.gmWork1Main{
  display: block;
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100%;
  padding-right: 16.6666666%;
  padding-left: 16.6666667%;
  font-family: Atami-Regular;
  letter-spacing: 2px;
}
.gmNavfromMain {
    position: absolute;
    margin-left: 10px;
    top: 10%;
    color: rgb(49,58,61);
    cursor: pointer;
    text-decoration: none;
    font-family: 'moderno';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1000;
}

}








.gmMainPic1{
  position: absolute;
  width: 16.667%;
  top: 80px;
  height: 400px;
  background-image: url(../img/3.jpg);
  background-size: cover;
  z-index: 0;
  left: 19.667%;
}

.gmMainText>h1:before {
    content: "FULL";
    /*width: 105%;*/
    position: absolute;
    color:rgb(84,182,195);
}


.gmMainPic3{
  position: absolute;
  bottom: 14%;
  width: 29.2%;
  height: 200px;
  right: 6.20%;
  background-image: url(../img/6.jpg);
  background-size: cover;
  z-index: 1;
}

.gmMain2 {
  display: block;
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100%;
  padding-right: 16.6666666%;
  padding-left: 16.6666667%;
  -webkit-overflow-scrolling: touch;

}

.gmshow{
  display: none;
  top: 0px;
  height: 100vh;
  width: 100%;
  padding-right: 16.6666666%;
  padding-left: 16.6666667%;

}

.gmshow.active{
  display: block;
}


/*.gmMainPicS1{
  position: absolute;
  top: 200px;
  width: 43.905%;
  height: 350px;
  background-image: url("../img/21.png");
  background-size: cover;
  background-position: center;
  left: 51.4334%;
  z-index: 3;
}*/


/*.gmMainPicS2{
  position: absolute;
  top: 200px;
  width: 43.905%;
  height: 350px;
  background-image: url("../img/24.jpg");
  background-size: cover;
  background-position: center;
  left: 50%;
  z-index: 3;
}*/


/*.gmMainPicS3{
  position: absolute;
  top: 200px;
  width: 43.905%;
  height: 350px;
  background-image: url("../img/30inuse.jpg");
  background-size: cover;
  background-position: center;
  left: 50%;
  z-index: 3;
}

.gmMainPicS4{
  position: absolute;
  top: 200px;
  width: 43.905%;
  height: 350px;
  background-image: url("../img/10.jpg");
  background-size: cover;
  background-position: center;
  left: 50%;
  z-index: 3;
}*/

.gmProjectInfo{
  position: absolute;
  width: 400px;
  height: 400px;
  /*background-color: red;*/
  top: 200px;
  left: 10%;
}

.gmMIMP3{
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgb(49,58,61);
  text-transform: uppercase;

}

.gmMIMP2{
  font-size: 1.5em;
  font-family: 'Kano', sans-serif;
  font-style: normal;
  line-height: 30px;
  margin-top: 30px;
  font-weight: 700;
  color: rgb(84,182,195);
  text-transform: lowercase;
}

.gmMIMP{
  font-family: 'moderno', sans-serif;
  font-style: normal;
  text-decoration: none, !important;
  color: rgb(49,58,61);
  margin-right: 60px;
  margin-top: 50px;
  line-height: 100px;
  font-style: normal;
  font-weight: 700;
}

.gmMIMP:hover{
  text-decoration: none;
  color: rgb(141,41,52);
}

.gmMIMP:active{
  text-decoration: none;
}


.slideUp{
	animation-name: slideUp2;
	-webkit-animation-name: slideUp2;
  -webkit-transition: all .7s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition:  all .7s cubic-bezier(0.47, 0, 0.745, 0.715);

	animation-duration:  .7s;
	-webkit-animation-duration:  .7s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;


	visibility: visible !important;
}

/*.slideUp2{
  display: block;
	animation-name: grow;
	-webkit-animation-name: grow;
  -webkit-transition: all .7s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition:  all .7s cubic-bezier(0.47, 0, 0.745, 0.715);

	animation-duration:  .7s;
	-webkit-animation-duration:  .7s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;


	visibility: visible !important;
}*/

@keyframes slideUp2 {
	0% {
    display: none;
    height: 0px;
		transform: translateY(100%);
	}
	100% {
    height: 350px;
		transform: translateY(0%);
	}
}


.slideUpText{
	animation-name: grow;
	-webkit-animation-name: grow;
  -webkit-transition: all .7s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition:  all .7s cubic-bezier(0.47, 0, 0.745, 0.715);

	animation-duration:  .7s;
	-webkit-animation-duration:  .7s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;


	visibility: visible !important;
}




.slideDown{
	animation-name: Nogrow;
	-webkit-animation-name: Nogrow;
  -webkit-transition: all .7s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition:  all .7s cubic-bezier(0.47, 0, 0.745, 0.715);

	animation-duration:  .7s;
	-webkit-animation-duration:  .7s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;


	visibility: visible !important;
}





/*.slideRight{
	animation-name: dropin;
	-webkit-animation-name: dropin;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}*/







.textblind .blind {
  display: block;
  overflow: hidden;
}
.textblind .blind:nth-child(1) span {
  animation: dropin 0.7s 0s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
.textblind .blind:nth-child(2) span {
  animation: dropin 0.7s 0.125s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
.textblind .blind:nth-child(3) span {
  animation: dropin 0.7s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
.textblind .blind span {
  display: block;
  opacity: 0;
  transform: translateY(-100%);
}

@keyframes dropin {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



@keyframes slideRight {
	0% {
    display: none;
    width: 0%;
		/*transform: translateX(0%);*/
	}
	100% {
    width: 100%;
		/*transform: translateY(100%);*/
	}
}

@keyframes dropin {
	0% {
    	transform: translateY(-100%);
		opacity: 1;
	}
	100% {
    	transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}


.gmMainH2Link{
  text-decoration: none;
  color: inherit;
}
.gmMainH2Link:hover{
  text-decoration: none;
  color: rgb(141,41,52);
}

.gmMainH3Link{
  text-decoration: none;
  color: inherit;
}
.gmMainH3Link:hover{
  text-decoration: none;
  color: white;
}
/*
@keyframes grow {
0% {
display: none;
opacity: 0;
height: 0%;
}
1% {
display: block;
opacity: 0;
height: 0px;
transform: scale(0);
}
100% {
opacity: 1;
height: 400px;
transform: scale(1);
}
}*/


@-moz-keyframes Nogrow {
  0% {
    display: none;
    height: 350px;
  }
  1% {
    display: block;
    height: 350px;
    /*transform: scale(0);*/
  }
  100% {
    height: 0px;
    /*transform: scale(1);*/
  }
}



@keyframes Nogrow {
  0% {
    display: none;
    height: 350px;
  }
  1% {
    display: block;
    height: 350px;
  }
  100% {
    height: 0px;
  }
}



@-moz-keyframes grow {
  0% {
    display: none;
    height: 0px;
  }
  1% {
    display: block;
    height: 0px;
    /*transform: scale(0);*/
  }
  100% {
    height: 350px;
    /*transform: scale(1);*/
  }
}



@keyframes grow {
  0% {
    display: none;
    bottom: 0px;
    height: 0px;
  }
  1% {
    display: block;
    bottom: 0px;
    height: 0px;
  }
  100% {
    bottom: 0px;
    height: 350px;
  }
}




@keyframes hehe {
  from {height: 350px;}
  to {height: 0px;}
}
@-moz-keyframes slide /* Firefox */
{
  from {height: 350px;}
  to {height: 0px;}
}

@-webkit-keyframes slide /* Safari and Chrome */
{
  from {height: 350px;}
  to {height: 0px;}
}

@-o-keyframes slide /* Opera */
{
  from {height: 350px;}
  to {height: 0px;}
}

@-ms-keyframes slide /* IE10 */
{
from {height: 350px;}
to {height: 0px;}
}

@keyframes slide
{
from {height: 0;}
to {height: 300px;}
}


.gmESpan1 {
  position: relative;
  display: block;
  cursor: pointer;
}

.gmESpan1:before, .gmESpan1:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  margin-top: -0.5px;
  background: rgb(141,41,52);
}

.gmESpan1:before {
  left: -2.5px;
}
.gmESpan1:after {
  right: 2.5px;
  background: rgb(141,41,52);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.gmESpan1:hover:before {
  background: rgb(141,41,52);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.gmESpan1:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
/*
.gmAllProjects{
  position: absolute;
    height: 50px;
    font-size: 14px;
    text-align: center;
    padding-left: 10px;
    font-family: Kano;
    letter-spacing: 2px;
}*/

.gmTakemeRoad{
  position: absolute;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 900;
  font-family: Kano;
  letter-spacing: 1px;
  color: rgb(49,58,61);
  z-index: 500;
  text-decoration: none;
}

.gmTakemeRoad:hover{
  text-decoration: none;
  position: absolute;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 900;
  font-family: Kano;
  letter-spacing: 1px;
  color: rgb(49,58,61);
  z-index: 500;
}

.aboutGM{
  display: block;
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100%;
  padding-right: 16.6666666%;
  padding-left: 16.6666667%
}

/*.gmPhoto{
  position: absolute;
  top: 200px;
  width: 43.905%;
  height: 350px;
  background-image: url("../img/10.jpg");
  background-size: cover;
  background-position: center;
  left: 35.4334%;
  z-index: 3;
}*/

/*.gmSkills{
  position: absolute;
  top: 200px;
  left: 24%;
  z-index: 5;
  font-family: 'robotext';
}*/

.gmSkills>p{
  /*line-height: 4px;*/
  letter-spacing: 2px;
}

.gmMeInfo{
  font-family: 'robotext';
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.gmInfoContact{
  text-decoration: none;
  color: rgb(141,41,52);
  font-size: 15px;

}

.gmInfoContact:hover{
  text-decoration: line-through;
  color: rgb(141,41,52);
  font-size: 15px;

}

.gmskillTitle{
  color:rgb(84,182,195);
}

.gmContactMeMain{
  display: block;
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100%;
  padding-right: 16.6666666%;
  padding-left: 16.6666667%
}

.gmPhotoContact{
  position: absolute;
  top: 200px;
  width: 33.905%;
  height: 350px;
  background-image: url(../img/10.jpg);
  background-size: cover;
  background-position: center;
  left: 50%;
  z-index: 3;
}

.gmContactList>h1{
  font-weight: bold;
  font-size: 4em;
  right: 40px;

}

.gmContactList>p{
  font-family: 'Kano';

}

.contactInfo{
  text-align: centers;
  font: 1.8em;
  margin-top: 20px;
}

.contactHighlight{
  font-size: 20px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

.socialIconsCont{
  text-decoration: none;
  color:rgb(49,58,61);
  position: relative;
  left: 20%;
  margin-right: 15px;
  margin-top: 20px;
}

.socialIconsCont:hover{
  text-decoration: none;
  color: rgb(141,41,52);
}
.gmPortfolioDisplay{
  display: block;
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100%;
  padding-right: 16.6666666%;
  padding-left: 16.6666667%;

}

.gmPortfolio1{
  /*display: table-row;*/
  position: absolute;
  top: 200px;
  width: 33.905%;
  height: 350px;
  background-image: url(../img/10.jpg);
  background-size: cover;
  background-position: center;
  left: 50%;
  z-index: 3;
}

/*.gmPortfolioXX{
  position: absolute;
  top: 170px;
  left: 24%;
  z-index: 5;
  font-family: 'Montserrat', sans-serif;
  color: rgb(49,58,61);
  text-decoration: none;
}*/

.gmPortfolioSelect{
  color: rgb(49,58,61);
      text-decoration: none;
      line-height: 80px;
      font-family: ADAM;
      font-size: 30px;
}
.gmPortfolioSelect:hover{
  text-decoration: none;
  color: inherit;
}
.gmPortfolioSelect:active{
  text-decoration: none;
  color: inherit;
}

.gmPortHov1{
  display: table-row;
  position: absolute;
  top: 200px;
  width: 33.905%;
  height: 350px;
  background-size: cover;
  background-position: center;
  left: 50%;
  z-index: 3;
  background-image: url(../img/6.jpg);
}

.gmPortHov2{
  display: table-row;
  position: absolute;
  top: 200px;
  width: 33.905%;
  height: 350px;
  background-size: cover;
  background-position: center;
  left: 50%;
  z-index: 3;
  background-image: url(../img/21.png);
}

.gmPortHov3{
  display: table-row;
  position: absolute;
  top: 200px;
  width: 33.905%;
  height: 350px;
  background-size: cover;
  background-position: center;
  left: 50%;
  z-index: 3;
  background-image: url(../img/23inuse.jpg);
}
.gmPortHov4{
  display: table-row;
  position: absolute;
  top: 200px;
  width: 33.905%;
  height: 350px;
  background-size: cover;
  background-position: center;
  left: 50%;
  z-index: 3;
  background-image: url(../img/30inuse.jpg);
}
.gmPortHov5{
  display: table-row;
  position: absolute;
  top: 200px;
  width: 33.905%;
  height: 350px;
  background-size: cover;
  background-position: center;
  left: 50%;
  z-index: 3;
  background-image: url(../img/10.jpg);
}

/*.gmWork1Main{
  display: block;
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100%;
  padding-right: 16.6666666%;
  padding-left: 16.6666667%;
  font-family: Atami-Regular;
  letter-spacing: 2px;
}*/

/*.work1Shower{
  position: relative;
  top: 15%;
  height: 100vh;
  width: 100%;
}*/

.work1Header{
  position: relative;
  top: 0px;
  height: 200px;
  width: 90%;
  padding-top: 40px;
  text-align: left;
}

/*.workTitle {
  margin-bottom: 20px;
  border-bottom: 5px solid rgb(49,58,61);
  line-height: 55px;
}*/

/*.workConGM{
  position: relative;
  margin-top: 20px;
  height:  400px;
  width: 100%;
}*/

.rightSideWork{
  position: absolute;
  right: 0px;
  width: 20%;
  height: 100%;
  background-color: rgb(49,58,61);

}

.leftSideWork{
  position: absolute;
  left: 0px;
  width: 20%;
  height: 100%;
  background-color: black;
  padding-right: 15px;
}

.workPhotoGM{
  position: absolute;
  left: 20%;
  width: 60%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(../img/21.png);
}

.workPhotoGM2{
  position: absolute;
  left: 20%;
  width: 60%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(../img/24.jpg);
}

.workPhotoGM3{
  position: absolute;
  left: 20%;
  width: 60%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(../img/30inuse.jpg);
}

.workPhotoGM4{
  position: absolute;
  left: 20%;
  width: 60%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(../img/10.jpg);
}
/*.gmWorkInfo1{
  position: relative;
  width: 100%;
  height: auto;
  padding: 80px;
}*/

.gmWorkFooter{
  position: relative;
  background-color: rgb(241,241,243);
  height: 140px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  width: 100%;

}

.workLinksFooter{
  display: inline-flex;
  font-size: 2em;
  letter-spacing: 2px;
  word-spacing: 2em;

}

.footerlinks{
  margin-right: 10px;
}

.sdf{
  margin-left: 10px;
}

.swa{
  margin-left: 10px;
  margin-right: 10px;
}

.workPgm{
  font-family: Kano;
  color: rgb(230,69,77);
  font-weight: lighter;
  letter-spacing: 1px;
}

.workCounter{
  position: absolute;
  top: 42%;
  padding-top: 5px;
  left: -25px;
  height: 30px;
  width: 50px;
  text-align: center;
  background-color: white;
  color: rgb(230,82,101)
}

.rightButtonWork{
  position: absolute;
  top: 0px;
  background-color: white;
  width: 100%;
  height: 50%;
  text-align: center;padding-top: 75px;
  /*border-bottom: 2px solid rgb(49,58,61);*/
}

.rightGMArrow{
  text-decoration: none;
  color: black;
}

.rightGMArrow:active{
  text-decoration: none;
  color: black;
}

.rightGMArrow:hover{
  text-decoration: none;
  color: rgb(230,82,101);
}

.leftButtonWork{
  position: absolute;
  bottom: 0px;
  background-color: black;
  width: 100%;
  height: 50%;
  text-align: center;
  padding-top: 75px;
  /*border-bottom: 2px solid rgb(49,58,61);*/
}

.leftGMArrow{
  text-decoration: none;
  color: white;
}

.leftGMArrow:active{
  text-decoration: none;
  color: white;
}

.leftGMArrow:hover{
  text-decoration: none;
  color: rgb(230,82,101);
}

.testArrow{
  position: absolute;
  -webkit-animation:bounce 1s infinite;

}


@-webkit-keyframes bounce {
 0%       { left:5px; }
 25%, 75% { left:15px; }
 50%      { left:20px; }
 100%     {left:0;}
}

@keyframes bounce {
 0%       { left:5px; }
 25%, 75% { left:15px; }
 50%      { left:20px; }
 100%     {left:0;}
}





.gmWordHL{
  background: #ffb7b7;
}

/*wefwefwefwefwefwefe*/

.testfile1{
  position: absolute;
  top: 22%;
  left: 34%;
  width: 32%;
  height: 35%;
  background-size: cover;
  background-position: inherit;
  background-image: url(../img/32.jpeg);
  padding: 10%;
}

.border1{
  text-align: center;
  padding-top: 2px;
  width: 307px;
  height: 68px;
  background-color: white;
  position: absolute;
  top: 191px;
  left: 0%;

}

.border1>h1{
  font-size: 1.8em;
  position: relative;
  top: 0px;
  font-family: robotext;
  color: rgb(230,82,101);
}


.triangleGM{
  color: white;
  transform: rotate(270deg);
  transform-origin: 10px;
  position: absolute;
  left: 63%;
  top: 15.3%;
}

.tfre{
  /*position: absolute;*/
  color: rgb(230,82,101);
  font-family: HelloStockholm-Alt;
  font: 40px;
}

.gmMenuTakeOver{
  display: none;
  height: 100vh;
  width: 100%;
  /*background-color: #1957f3;*/
  background-color:   #039be5;

  position: absolute;
  z-index: 1000;
  overflow-x: hidden;
  top: 0px;
  -webkit-transition: all .7s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition:  all .7s cubic-bezier(0.47, 0, 0.745, 0.715);
}


.slideUpMenu{
  top:inherit;
    /*top: -55px;*/
  animation-name: slideUp5;
  -webkit-animation-name: slideUp5;
  -webkit-transition: all .7s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition:  all .7s cubic-bezier(0.47, 0, 0.745, 0.715);

  animation-duration:  .7s;
  -webkit-animation-duration:  .7s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;


  visibility: visible !important;
}

@keyframes slideUp5 {
	0% {
    display: none;
    /*height: -40px;*/
		transform: translateY(-100%);
	}
	100% {
    height: 100vh;
    /*border-radius: 300%;*/

		transform: translateY(0%);
	}
}

.gmOptionMenuHolder {
    position: absolute;
    top: 23%;
    left: 14%;
    /*text-align: center;*/
}

.socialLinksConforMenu{
  position: absolute;
  bottom: 0px;
}

.socialMenuLinks{
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
font-family: 'Abyssopelagic';
font-weight: 900;
letter-spacing: 2px;

}


.gmMIMP6 {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}
